/* Set the body background to beige */
body {
  background-color: #f5f5dc; /* Beige */
}

/* Custom Navbar Styling to replace inline and make changing multiple pages easier*/
.custom-navbar {
  background-color: #592A8A; /* ECU Purple navbar */
}

 .custom-navbar .navbar-brand,
.custom-navbar .nav-link, 
.custom-navbar .navbar-text {
  color: #FEC923 ; /* ECU Gold text on navbar */
}
/* 
.custom-navbar .navbar-toggler-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
} */

/* Navbar link hover color*/
.custom-navbar .nav-link:hover {
  color: #ffffff; /* white on hover */
}

/* Spacing for content */
.home-section {
  padding-top: 80px; /* Ensures content isn't hidden if navbar is fixed */
}

.custom-dropdown .btn.dropdown-toggle {
  border: none !important;
  box-shadow: none !important;
  background-color: rgba(0, 0, 0, 0) !important; /* Translucent background */
  color: #FEC923 !important; /* ECU gold text */
  
}

.custom-dropdown .dropdown-menu {
  border-color: #592A8A; /* ECU Purple border */
  box-shadow: none !important;
  background-color: #f5f5dc; /* Beige */;
  color: gold !important;
  
}
.custom-dropdown .dropdown-divider {
  border-top: 1px #592A8A; /* ECU Purple border */;
}