
/*Defined constants*/

:root {
  --ECU_PURPLE: #592A8A;
  --ECU_GOLD: #FEC923;
  --ECU_BEIGE: #F5F5DC;

}


/* Set the body background to beige */
body {
 background-color: var(--ECU_BEIGE); /* Beige */
}

/* Custom Navbar Styling to replace inline and make changing multiple pages easier*/
.custom-navbar {
 background-color: var(--ECU_PURPLE); /* ECU Purple navbar */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link, 
.custom-navbar .navbar-text {
 color: var(--ECU_GOLD) ; /* ECU Gold text on navbar */
}
/* 
.custom-navbar .navbar-toggler-icon {
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
 
} */

/* Navbar link hover color*/
.custom-navbar .nav-link:hover {
 color: #ffffff; /* white on hover */
}

/* Spacing for content */
.home-section {
 padding-top: 80px; /* Ensures content isn't hidden if navbar is fixed */
}

.custom-dropdown .btn-secondary {
 border: none ;
 background-color: rgba(0, 0, 0, 0) ; /* Translucent background */
 color: var(--ECU_GOLD); /* ECU gold text */
}

.custom-dropdown .dropdown-toggle-split::after {
 border-top: 0.3em solid var(--ECU_GOLD); /* carrot icon height, line, and color */
}
.custom-dropdown .btn.dropdown-toggle {
 border: none;
 box-shadow: none;
 background-color: rgba(0, 0, 0, 0); /* Translucent background */
 color: var(--ECU_GOLD); /* ECU gold text */
 
}

.custom-dropdown .dropdown-menu {
 border-color: var(--ECU_PURPLE); /* ECU Purple border */
 box-shadow: none;
 background-color: var(--ECU_BEIGE); /* Beige */;
 text-decoration-color: var(--ECU_PURPLE);
 
}

.custom-dropdown .dropdown-item {
 color: var(--ECU_PURPLE);
 
}

.custom-dropdown .dropdown-divider {
 border-top: solid var(--ECU_PURPLE)
}