/* ====== Colors ====== */
:root {
  --ECU_PURPLE: #592a8a;
  --ECU_GOLD: #fec923;
  --ECU_GOLD_SELECTED: #b08b1d;
  --ECU_GOLD_HOVER: #fad669;
  --OFF_WHITE: #fdfdfd;
}

/* ====== Background ====== */
body {
  background-color: var(--OFF_WHITE);
}

/* ====== Navbar ====== */
.custom-navbar {
  background-color: var(--ECU_PURPLE);
}

/* Hamburger line's color dictated by the stroke RGB */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(254,201,35, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: var(--ECU_GOLD);
}

.custom-navbar .nav-link,
.custom-navbar .navbar-text {
  font-size: 17px;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar .navbar-text {
  color: var(--ECU_GOLD);
}

.custom-navbar .nav-link.active {
  color: var(--ECU_GOLD_SELECTED);
}

.custom-navbar .nav-link:hover {
  color: var(--OFF_WHITE);
}

/* ====== Projects Tabs ======= */
.nav-pills {
  margin-right: 5px;
  border-right: 2px solid var(--ECU_PURPLE);
}

.nav-pills .nav-link {
  border-radius: 10px;
  margin: 2px;
  background-color: var(--ECU_GOLD);
  color: white;
}

.nav-pills .nav-link.active {
  background-color: var(--ECU_GOLD_SELECTED);
  color: white;
}

.nav-pills .nav-link:hover {
  background-color: var(--ECU_GOLD_HOVER);
}
