<!-- Footer -->
<footer class="footer py-4 bg-dark text-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 text-center text-lg-start">
        <h5>ECU ATMAE Robotics</h5>
        <p>
          East Carolina University<br />Department of Engineering<br />Greenville,
          NC 27858
        </p>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 text-center">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="{{ home_link }}" class="text-white">Home</a></li>
          <li><a href="{{ projects_link }}" class="text-white">Projects</a></li>
          <li><a href="{{ contact_link }}" class="text-white">Contact</a></li>
        </ul>
      </div>
    </div>
    <hr class="my-4" />
    <div class="text-center">
      <p class="mb-0">
        &copy; 2025 ECU ATMAE Robotics Team. All rights reserved.
      </p>
    </div>
  </div>
</footer>
